.wrap {
  background: #f0fff4;
  border: 1px solid #9ae6b4;
  min-height: 120px;
  padding: 20px;
  margin: 12px;
}

/* móvil */
@media (max-width: 600px) {
  .wrap {
    margin: 12px;
  }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .wrap {
    margin: 32px;
  }
}

/* escrotorio */
@media (min-width: 1025px) {
  .wrap {
    margin: 64px auto; /* margen grande y centrado horizontalmente */
  }
}
