.btn {
  padding:10px 16px;
  background:#111827;
  color:#fff;

  border: 2px solid transparent;
  border-radius: 6px;
 
}

/* Efecto hover sin salto */
.btn:hover {
  border-color: #38bdf8;       
  background-color: #1e293b;    /* Fondo un poco más claro */
}
